body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

html {
  background: rgb(255, 217, 224);
}

h1 {
  font-size: 7em;
  text-align: center;
}


#StartButtonDiv {
  display: flex;
  justify-content: center;
}

button {
  width: fit-content;
  font-size: 3em;
  padding-top: .5em;
  padding-bottom: .5em;
  padding-left: 2em;
  padding-right: 2em;
}