<!DOCTYPE html>
<html>
  <head>
    <title>Fish-agotchi</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Gaze</h1>
    <div id="StartButtonDiv"><button id="StartButton" ahref="MainPage.ejs">Start!</button></div>
  </body>
</html>
